<html>

<head>
	<title>Current Temperature</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body style="background-color:powderblue;">
	<section class="hero is-primary">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Wanna compare the inside-outside weather?
				</h1>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column is-offset-4 is-4">
					<div class="box">
						<article class="media">
							<div class="media-content">
								<div class="content">
									<p>
										<span class="title"> city</span>
										<br>
										<span class="subtitle">{{ temp1}} ° C</span>
										<br>
										<span class="subtitle">{{ hum1 }} %</span>
										<br>
									</p>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column is-offset-4 is-4">
					<div class="box">
						<article class="media">
							<div class="media-content">
								<div class="content">
									<p>
										<span class="title">Home</span>
										<br>
										<span class="subtitle">{{ temp2}} ° C</span>
										<br>
										<span class="subtitle">{{ hum2 }} %</span>
										<br>
									</p>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>
